<div [formGroup]='facultyFG' class="p-1" style="border-bottom:1px solid teal">
     <label class="form-label h5"><strong>Name:</strong> {{faculty.fname}}</label>
     <label class="form-label h5"><strong>Dept:</strong> {{faculty.fdept}}</label>
     <div *ngIf='faculty.fimage' class="text-center">
      <img [attr.src]="faculty.fimage" [attr.width]="140">
    </div>
     <span *ngIf="!facultyFG.controls['rating'].valid && facultyFG.controls['rating'].touched" class="text-error p-1" style="">Required To Select an Option</span>
      <div style="text-align:center;border-bottom:1px solid;border-top:1px solid;padding-top:5px;padding-bottom:5px;">
        <label class="form-radio ">
          <input type="radio" formControlName='rating' value="Excellent" (change)="onChange($event)">
          <i class="form-icon"></i> Excellent (81-100)
        </label>
        <label class="form-radio ">
          <input type="radio" formControlName='rating' value="Very Good" (change)="onChange($event)">
          <i class="form-icon"></i> Very Good (61-80)
        </label>
        <label class="form-radio ">
          <input type="radio" formControlName='rating' value="Good" (change)="onChange($event)">
          <i class="form-icon"></i> Good (41-60)
        </label>
        <label class="form-radio ">
          <input type="radio" formControlName='rating' value="Fair" (change)="onChange($event)">
          <i class="form-icon"></i> Fair (<=40)
        </label>
      </div>
      <!--
      <span *ngIf="rangeError" class="text-error p-1">{{rangeError}}</span> -->
      <span *ngIf="facultyFG.controls['score'].errors?.min || facultyFG.controls['score'].errors?.max" class="text-error p-1">Range must be between {{minValue}} to {{maxValue}}</span>
      <span *ngIf="facultyFG.controls['score'].errors?.required && facultyFG.controls['score'].touched" class="text-error p-1">Score Required</span>
      <div class="form-horizontal" style="padding-top:10px;padding-bottom:10px;">
        <div class="form-group">
        <label class="form-label h5 col-2">Score:</label>
        <input formControlName='score' class="form-input input-sm" (keypress)="restricRangeValue($event)" type="number" (ngModelChange)='onChangeScore($event)' style="box-shadow:2px 2px 20px lightgray">
{{facultyFG.controls['score'].valid}}
        </div>
      </div>
</div>
<!-- <div [formGroup]='facultyFG'>
  <div class="form-horizontal">
  <div class="form-group">
    <label for="fname" class="form-label col-4">Faculty Name:</label>
    <input type="text" name="fname" class="form-input" formControlName="fname" disabled>

    <label for="fdept" class="form-label col-4">Faculty Dept:</label>
    <input type="text" name="fdept" class="form-input" formControlName="fdept" disabled>
  </div>
   <span *ngIf="!facultyFG.controls['rating'].valid && facultyFG.controls['rating'].touched" class="text-error p-1">Required To Select an Option</span>
    <div class="form-horizontal" style="text-align:center">
    <label class="form-radio ">
    <input type="radio" formControlName='rating' value="Excellent" (change)="onChange($event)">
    <i class="form-icon"></i> Excellent (81-100)
  </label>
  <label class="form-radio ">
    <input type="radio" formControlName='rating' value="Very Good" (change)="onChange($event)">
    <i class="form-icon"></i> Very Good (61-80)
  </label>
  <label class="form-radio ">
    <input type="radio" formControlName='rating' value="Good" (change)="onChange($event)">
    <i class="form-icon"></i> Good (41-60)
  </label>
  <label class="form-radio ">
    <input type="radio" formControlName='rating' value="Fair" (change)="onChange($event)">
    <i class="form-icon"></i> Fair (<=40)
  </label>
</div>
<span *ngIf="rangeError" class="text-warning p-1">{{rangeError}}</span>
<span *ngIf="!facultyFG.controls['score'].valid && facultyFG.controls['score'].touched" class="text-error p-1">Score Required</span>
<div class="form-horizontal">
    <div class="form-group">
    <label class="form-label col-2">Score:</label>
    <input formControlName='score' class="form-input" (keypress)="restricRangeValue($event)" type="number" (ngModelChange)='onChangeScore($event)'>
    </div>
  </div>
  </div>
</div> -->
