<div [formGroup]='subjectFG' class="form-group pt-2">
  <div class="col-4 pr-2" *ngIf="subjectFG.parent.parent.value.section!='Technician'">
      <label class="form-label col-8">
        Subject Name: </label>
      <input ng2-auto-complete class="form-input input-sm col-11" formControlName='subname' style="box-shadow:1px 1px 2px lightgray;"
      [source]='subjectserve.autoSubjectList'>
  </div>
  <div class="col-8">
    <fb-facultylist [subjectFG]='subjectFG' [facultyList]='subject.facultyList'></fb-facultylist>
  </div>
</div>
