<div [formGroup]='sectionFG' class="columns mt-2 p-2">
  <div class="col-2 pr-2">
      <label class="form-label">
        Select Section:
      </label>
      <select class="form-select" formControlName='section'>
        <ng-container *ngFor="let temp of predefinedSectionList">
        <option *ngIf="!(temp=='Theory' && isTheoryDone)" [value]="temp">
          {{temp}}
        </option>
      </ng-container>
      </select>
      <div *ngIf="sectionFG.controls['section'].value!='Theory'" >
      <label class="form-label">Batch:</label>
      <input formControlName='batch' type="text" class="form-input input-sm">
      </div>
      </div>
      <div class="col-10" style="border:1px solid teal;padding-bottom:2%;">
      <fb-subjectlist [sectionFG]='sectionFG' [subjectList]='section.subjectList'></fb-subjectlist>
      </div>
</div>
