<div [formGroup]='sectionFG' class="accordion-body d-inline">
      <fbsubject-list [sectionFG]="sectionFG" [subjectList]="section.subjectList"></fbsubject-list>
</div>
<!-- <div [formGroup]='sectionFG'>
  <div class="form-group">
    <label for="section" class="form-label">section:</label>
    <input type="text" name="section" class="form-input" formControlName="section" disabled>
    <fbsubject-list [sectionFG]="sectionFG" [subjectList]="section.subjectList"></fbsubject-list>
  </div>
</div> -->
