<div class="p-2" style="background:white;color: gray;border-radius:5px;box-shadow:2px 2px 10px lightgray,-2px -2px 10px lightgray;">
<fb-header></fb-header>

<div class="container">
<div class=" tooltip p-2 float-right" data-tooltip="Logout" style="">
  <a  href="/logout" class="btn btn-error mb-2 " style="width:100%;">
      <i class="icon icon-shutdown mr-2"></i>Logout
  </a>
</div>
<button type="button" class="btn btn-primary float-right mt-2">Change Password</button>
<div class="clearfix"></div>
</div>

<p *ngIf='mesg' class="text-success">File Saved to reports/{{mesg.fileName}}</p><p *ngIf='errmesg' class="text-error">Error in exporting File<br/>{{errmesg|json}}</p>
<table class="table">
  <thead style="text-align:center;font-weight:bold">
    <td >Academic Year</td>
    <td>Departement</td>
    <td></td>
</thead>
<tr>
  <td>
  <select (change)='loadFormField()' class="form-select" [(ngModel)]="academicyear">
    <option *ngFor="let academicyear of academicyearList" [value]='academicyear'>{{academicyear}}</option>
  </select>
  </td>
  <td>
  <select (change)='loadFormField()' class="form-select" [(ngModel)]="dept">
    <option *ngFor="let department of departmentList" [value]='department'>{{department}}</option>
  </select>
  </td>
  <td>
    <button [disabled]='overallFB?.length==0' (click)="export2xlsx()" type="button" style="width:100%" class="btn btn-primary">Export to XLSX</button>
  </td>
  </tr>
</table>
<table id="fbtable" class="table table-striped mt-2">
  <thead class="bg-primary">
    <td>Name</td>
    <td>Rating</td>
    <!-- <td>Very Good</td>
    <td>Good</td>
    <td>Fair</td> -->
    <td>Avg.Score</td>
  </thead>
  <tr  *ngFor="let temp of overallFB;let indx=index">

      <td>
        <button (click)="resultDetail(temp._id)" class="btn btn-link c-hand tooltip" data-tooltip="Click on name for more details">{{temp._id}}</button>
      </td>
      <td>
          <div class="popover popover-right">
              <div *ngFor="let tt of temp.rating_group">
                <span> <b style="color:gray">{{tt.rating}}</b> <i style="color:teal">{{tt.count}}</i></span>
              </div>
              <div class="popover-container">
                <div class="card">
                  <div class="card-header">
                      <div class="text-center text-bold" style="color:bg-primary">Chart Summary</div>
                  </div>
                  <div class="card-body">
                      <canvas baseChart
                            [data]=temp.fbchartdt
                            [labels]=temp.fbchartrating
                            [chartType]='"pie"'
                            >
                        </canvas>
                  </div>
                </div>
              </div>
            </div>
      </td>
      <!-- <td>
          <div *ngFor="let tt of temp.rating_group">
            <span *ngIf="tt.rating=='Excellent';else value"> <i style="color:teal">{{tt.count}}</i></span>
               <ng-template #value>0</ng-template>
          </div>
      </td>
      <td>
          <div *ngFor="let tt of temp.rating_group">
            <span *ngIf="tt.rating=='Very Good'; else value"> <i style="color:teal">{{tt.count}}</i></span>
                <ng-template #value>0</ng-template>
          </div>
      </td>
      <td>
          <div *ngFor="let tt of temp.rating_group">
            <span *ngIf="tt.rating=='Good'; else value"> <i style="color:teal">{{tt.count}}</i></span>
               <ng-template #value>0</ng-template>
          </div>
      </td>
      <td>
          <div *ngFor="let tt of temp.rating_group">
            <span *ngIf="tt.rating=='Fair';else value"> <i style="color:teal">{{tt.count}}</i></span>
                <ng-template #value>0</ng-template>
          </div>
      </td> -->
      <td>
        {{(temp.totalScore/temp.totalCount)|number:'.2-2'}}
      </td>
  </tr>
</table>
</div>
